body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1{
  text-align: center;
  margin: 0;
  color: #fff
}

header{
  background-color: #333;
  padding: 50px 0px
}

.form-control{
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn{
  margin-right: 25px;
  margin-bottom: 25px;
}

tr:hover{
  cursor: pointer;
}